*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 2rem;
}

html, body{
    font-size: 62.5%;
    /* height: 100%; */
}

/* .intro-container{
    min-height: 100vh;
} */

/* intro container with awards start */
.intro-container{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); */

    /* 9 columns */
    grid-template-columns: repeat(9, 1fr);
    
    /* 14 rows */
    grid-template-rows: repeat(14, minmax(10rem, 1fr));
    grid-template-areas: 
    /* 1st row */
    "navbar header header header header header header header header"
                         
    /* 2nd row */
    "navbar intro-content intro-content intro-content intro-content intro-content retailers retailers retailers"
                     
    /* 3rd row */
    "navbar intro-content intro-content intro-content intro-content intro-content retailers retailers retailers"
                         
    /* 4th */
    "navbar intro-content intro-content intro-content intro-content intro-content retailers retailers retailers"

    /* 5th row */
    "navbar . . . . . . . ."

    /* 6th row */
    "navbar . award-1 award-1 award-2 award-2 award-3 award-3 ."
    
    /* 7th row */
    "navbar . award-1 award-1 award-2 award-2 award-3 award-3 ."
    
    /* 8th row */
    "navbar . award-4 award-4 award-5 award-5 award-6 award-6 ."
    
    /* 9th row */
    "navbar . award-4 award-4 award-5 award-5 award-6 award-6 ."

    /* 10th row */
    "navbar . . . . . . . ."

    /* 11th row */
    "navbar image-1 image-1 image-2 image-2 image-3 image-3 image-4 image-4"
    
    /* 12th row */
    "navbar image-5 image-5 image-6 image-6 image-7 image-7 image-8 image-8"
    
    /* 13th row */
    "navbar image-9 image-9 image-10 image-10 image-11 image-11 image-12 image-12"
    
    /* 14th row */
    "navbar image-13 image-13 image-14 image-14 . . . .";
}
/* intro container with awards end */


/* intro children start */
.header{
    grid-area: header;
    background-color: blue;
}

.navbar{
    grid-area: navbar;
    background-color: orange;


}

.intro-content{
    grid-area: intro-content;
    background-color: purple;
}

.retailers{
    grid-area: retailers;
    background-color: red;
}

/* intro children end */

/* awards children start */
.award-1{
    grid-area: award-1;
    background-color: #606c38;
}

.award-2{
    grid-area: award-2;
    background-color: #283618;
}

.award-3{
    grid-area: award-3;
    background-color: #fefae0;
}

.award-4{
    grid-area: award-4;
    background-color: #dda15e;
}

.award-5{
    grid-area: award-5;
    background-color: #bc6c25;
}

.award-6{
    grid-area: award-6;
    background-color: #cdb4db;
}
/* awards children end */

/* images 14 start */
.image-1{
    grid-area: image-1;
    background-color: #f72585;
}

.image-2{
    grid-area: image-2;
    background-color: #b5179e;
}

.image-3{
    grid-area: image-3;
    background-color: #7209b7;
}

.image-4{
    grid-area: image-4;
    background-color: #560bad;
}

.image-5{
    grid-area: image-5;
    background-color: #480ca8;
}

.image-6{
    grid-area: image-6;
    background-color: #3a0ca3;
}

.image-7{
    grid-area: image-7;
    background-color: #3f37c9;
}

.image-8{
    grid-area: image-8;
    background-color: #4361ee;
}

.image-9{
    grid-area: image-9;
    background-color: #4895ef;
}

.image-10{
    grid-area: image-10;
    background-color: #4cc9f0;
}

.image-11{
    grid-area: image-11;
    background-color: #d9ed92;
}

.image-12{
    grid-area: image-12;
    background-color: #b5e48c;
}

.image-13{
    grid-area: image-13;
    background-color: #99d98c;
}

.image-14{
    grid-area: image-14;
    background-color: #76c893;
}
/* images 14 end */